all:
  hosts:
    localhost:
      ansible_port: <your port>
      ansible_host: <your ip address>
      root_hash_pass: <the hashed root password as in shadow files>
      ldap_suffix: <the domain ldap suffix>
      ldap_root_secret: <the ldap secret for root>
